<h2>編輯用戶資料 <%= resource_name.to_s.humanize %></h2>

<% if current_user.role == "driver" %>
  <%= link_to '編輯外送員資料', edit_driver_profiles_path, class: 'btn' %>
<% elsif curren_user.role == "store" %>
  <%= link_to '編輯店家資料', edit_store_profiles_path, class: 'btn' %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "用戶信箱" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :name, "用戶名稱" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :phone, "手機號碼" %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>

  <div class="field">
    <%= f.label :address, "送餐地址" %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="actions">
    <%= f.submit "送出" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
