<% if driver_profile.errors.any? %>
  <ul>
    <% driver_profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  
<%= form_for(driver_profile) do |form| %>

  <div class="form-item-upload">
    <%= form.label :taiwan_id_front, '身分證正面' %>
    <%= form.file_field :taiwan_id_front %>
    <div class="error-message"></div>
    <i class="fas fa-exclamation-circle"></i>
  </div>
  <div class="form-item-upload">
    <%= form.label :taiwan_id_back, '身分證反面' %>
    <%= form.file_field :taiwan_id_back %>
    <div class="error-message"></div>
    <i class="fas fa-exclamation-circle"></i>
  </div>
  <div  class="form-item-upload">
    <%= form.label :license, '駕照' %>
    <%= form.file_field :license %>
    <div class="error-message"></div>
    <i class="fas fa-exclamation-circle"></i>
  </div>
  <div class="form-item">
    <%= form.label :car_number, '車牌號碼' %>
    <%= form.text_field :car_number %>
    <div class="error-message"></div>
    <i class="fas fa-exclamation-circle"></i>
  </div>
  <div class="form-item">
    <%= form.label :account, '帳戶' %>
    <%= form.text_field :account %>
    <div class="error-message"></div>
    <i class="fas fa-exclamation-circle"></i>
  </div>
  <div>
    <%= form.submit '註冊', class:"btn btn-primary btn-submit"  %>
  </div>

<% end %>