<div class="map-container">  
  <div class="map">
    <div id="map"></div>
  </div>
  <div class="info">
    <div class="status">
      <p class="<%= 'inline' if @driver_profile.online %>">
        <%= @driver_profile.online ? "等待新訂單..." : "未上線"%>
      </p>
      <a href="#" class="btn online-btn">
        <%= @driver_profile.online ? "下線" : "上線"%>
      </a>
    </div>
    <% if @driver_profile.online && @new_order %>
      <div class="order">
        <p class="store-address"><%= @store.store_name %></p>
        <p><%= @store.store_address %></p>
        <p><%= @store.store_phone %></p>
        <div class="text">
          <p class="distance"></p>
          <p class="time"></p>
        </div>
        <div class="btn-list">
          <div class="delivery btn">接單</div>
        </div>
      </div>
    <% end %>
  </div>
</div>