<div>
  <h1><%= @store_profile.store_name %></h1>
  <div><%= @store_profile.store_id_list %></div>
  <div><%= @store_profile.store_type %></div>
  <div><%= @store_profile.store_address %></div>
</div>
<br>

<% @products.each do |product| %>
<div>
  <div><%= product.name %></div>
  <!-- <div>少產品圖片，等fix/product merge後補上</div> -->
  <div><%= product.price %></div>
  <div><%= product.description %></div>
  <div><%= link_to "加入購物車", "#" %></div>
</div>
<br>
<% end %>

<%= link_to "返回上一頁", :back %>