<h1>店家首頁</h1>

<%= link_to '新增產品', new_stores_product_path %>
<br>
<%= link_to '新訂單', new_stores_orders_path %>
<br>
<%= link_to '準備中', preparing_stores_orders_path %>
<br>
<%= link_to '可取餐', delivering_stores_orders_path %>
<br>
<%= link_to '訂單記錄', record_stores_orders_path %>
<br>
<%= link_to '？', '#' %>
<br>
<%= link_to '編輯店家', edit_stores_path %>