<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8-ftXcq0f3Oc9CJB0TNnPly3gPcFU66Y&v=3&callback=initMap&libraries=&v=weekly"
defer
></script>
<div id="id" data-id = <%= current_user.id %>>
<h1>註冊合作店家</h1>
<p>成為我們的合作夥伴 分享美食，提高收入</p>
<p> 您好，我們是5Bayeats!
請依照您的商店類型，選擇相對應的欄位資訊。
商店類型：
餐廳、飲料店，請選擇【餐廳店家】</p>
<button>!!!!!</button>

<%= form_for(@store_profile, url:stores_path, method:'post') do |form|  %>

  <div>
    <%= form.label :store_id_Certificate, '營業登記證' %>
    <%= form.file_field :store_id_Certificate %>
  </div>

  <div>
    <%= form.label :store_id_list, '菜單' %>
    <%= form.file_field :store_id_list %>
  </div>

  <div>
    <%= form.label :store_name, '店家名稱' %>
    <%= form.text_field :store_name %>
  </div>


  <div>
    <%= form.label :store_type, '店家種類' %>
    <%= form.text_field :store_type %>
  </div>

  <div>
    <%= form.label :store_address, '店家地址' %>
    <%= form.text_field :store_address %>
  </div>
  
  <div>
    <%= form.label :store_phone, '店家電話' %>
    <%= form.text_field :store_phone %>
  </div>
  
  <div>
    <%= form.submit '註冊' %>
  </div>

<% end %>
</div>
