<div class="container">
  <h1><%= current_user.store_profile.store_name %>的外送中訂單</h1>

  <div class="order-lists">
    <table>
      <thead>
        <tr>
          <th>訂單編號</th>
          <th>訂單明細</th>
          <th>姓名</th>
          <th>電話</th>
          <th>訂單狀態</th>
        </tr>
      </thead>
      <tbody>
        <% recieving_orders.each do |order| %>
          <tr>
            <td>
              <%= order.num %>
            </td>
            <td>
              <% order.order_items.each do |item| %>
                <%= Product.find(item.product_id).name %>
                <%= item.quantity %>
              <% end %>
            </td>
            <td>
              <%= order.username %>
            </td>
            <td>
              <%= order.tel %>
            </td>
            <td>
              <%= t("order_status.#{order.state}") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>