<td>
	<%= recieving_order.num %>
</td>

<td>
	<% recieving_order.order_items.each do |item| %>
		<div>
			<%= item.quantity %>
			<%= Product.find(item.product_id).name %>
		</div>
	<% end %>
</td>

<td>
	<%= recieving_order.username %>
</td>

<td>
	<%= recieving_order.tel %>
</td>

<%= form.hidden_field :num, value: recieving_order.num %>

<td>
	<%= form.submit '準備' %>
</td>
