<%= form_for(receiving_order, url: url, method: 'post') do |form| %>
	<div class="td">
		<%= receiving_order.created_at.strftime('%Y/%m/%d %H:%M') %>
	</div>

	<div class="td">
		<% receiving_order.order_items.each do |item| %>
			<div>
				<span class="num"><%= item.quantity %></span>
				<%= item.product.name %>
			</div>
		<% end %>
	</div>
	
	<div class="td">
		<%= receiving_order.username %>
	</div>
	
	<div class="td">
		<%= receiving_order.tel %>
	</div>
	
	<div class="td">
		<%= receiving_order.total_price %>元
	</div>

	<%= form.hidden_field :num, value: receiving_order.num %>
	
	<div class="td">
		<% if receiving_order.state == "paid" %>
			<%= form.submit '開始製餐', class: "btn" %>
		<% else %>
			<%= form.submit '製餐完成', class: "btn" %>
		<% end %>
	</div>
<% end %>