<td>
	<%= receiving_order.created_at.strftime('%Y/%m/%d %H:%M') %>
</td>

<td>
	<%= receiving_order.num %>
</td>

<td>
	<% receiving_order.order_items.each do |item| %>
		<div>
			<span class="num"><%= item.quantity %></span>
			<%= Product.find(item.product_id).name %>
		</div>
	<% end %>
</td>

<td>
	<%= receiving_order.username %>
</td>

<td>
	<%= receiving_order.tel %>
</td>

<td>
	<%= receiving_order.total_price %>元
</td>

<%= form.hidden_field :num, value: receiving_order.num %>

<td>
	<%= form.submit '準備', class: "btn" %>
</td>
