    <%= form.label :username %>
    <%= form.text_field :username, value: recieving_order.username, readonly: true %>

    <%= form.label :tel %>
    <%= form.text_field :tel, value: recieving_order.tel, readonly: true %>

    <%= form.label :address %>
    <%= form.text_field :address, value: recieving_order.address, readonly: true %>

    <p><%= recieving_order.state %></p>

    <%= form.submit '按我'%>