<div class="order-lists">
  <div class="table">
    <div class="thead">
      <div class="tr">
        <div class="th">訂單日期</div>
        <div class="th">訂單明細</div>
        <div class="th">姓名</div>
        <div class="th">電話</div>
        <div class="th">總計金額</div>
        <div class="th">訂單狀態</div>
      </div>
    </div>
    <div class="tbody">
      <% @receiving_orders.each do |order| %>
        <div class="tr">
          <div class="edit_order">
            <div class="td">
              <%= order.created_at.strftime('%Y/%m/%d %H:%M') %>
            </div>
            <div class="td">
              <% order.order_items.each do |item| %>
                <div>
                  <span class="num"><%= item.quantity %></span>
                  <%= item.product.name %>
                </div>
              <% end %>
            </div>
            <div class="td">
              <%= order.username %>  
            </div>
            <div class="td">
              <%= order.tel %>
            </div>
            <div class="td">
              <%= order.total_price %>元
            </div>
            <div class="td">
              <%= t("order_status.#{order.state}") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>