<div class="container">
  <h1>我的訂單(消費者視角)</h1>
  <div class="order-lists">
    <table>
      <thead>
        <tr>
          <th>訂單日期</th>
          <th>訂單明細</th>
          <th>收件地址</th>
          <th>總計金額</th>
          <th>訂單狀態</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
              <td>
                <%= order.store_profile.store_name %>
                <% order.order_items.each do |item| %>
                  <div>
                  <span class="num"><%= item.quantity %></span>
                  <%= item.product.name %>
                  </div>
                <% end %>
              </td>
              <td>
                <%= order.address %>
              </td>
              <td>
                <%= order.total_price %>元                
              </td>
              <td>
                <%= link_to((order), class: "btn") do %>
                  <%= t("order_status.#{order.state}") %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>