<div class="container">
  <div class="map-container mb-5 hidden">
    <div id="map"></div>
  </div>
  
  <% if @order.paid? %>
    <div class="h-10 grid grid-cols-4 gap-2 md:gap-3 j-order-state">
      <div class="h-5 bg-gray-300 j-preparing"></div>
      <div class="h-5 bg-gray-300 j-delivering"></div>
      <div class="h-5 bg-gray-300 j-completed"></div>
      <div class="h-5 bg-gray-300 j-arrived"></div>
    </div>
    <h2 class="j-order-state-text mb-10">店家已收到訂單，等待店家回覆...</h2>
  <% elsif @order.preparing? %>
    <div class="h-10 grid grid-cols-4 gap-2 md:gap-3 j-order-state">
      <div class="h-5 bg-red-400 j-preparing"></div>
      <div class="h-5 bg-gray-300 j-delivering"></div>
      <div class="h-5 bg-gray-300 j-completed"></div>
      <div class="h-5 bg-gray-300 j-arrived"></div>
    </div>
    <h2 class="j-order-state-text mb-10">店家已接受您的訂單，正在準備中...</h2>
  <% elsif @order.delivering? %>
    <div class="h-10 grid grid-cols-4 gap-2 md:gap-3 j-order-state">
      <div class="h-5 bg-red-400 j-preparing"></div>
      <div class="h-5 bg-red-400 j-delivering"></div>
      <div class="h-5 bg-gray-300 j-completed"></div>
      <div class="h-5 bg-gray-300 j-arrived"></div>
    </div>
    <h2 class="j-order-state-text mb-10">店家已完成您的餐點，正在等待外送員領取...</h2>
  <% elsif @order.completed? %>
  
    <div class="h-10 grid grid-cols-4 gap-2 md:gap-3 j-order-state">
      <div class="h-5 bg-red-400 j-preparing"></div>
      <div class="h-5 bg-red-400 j-delivering"></div>
      <div class="h-5 bg-red-400 j-completed"></div>
      <div class="h-5 bg-gray-300 j-arrived"></div>
    </div>
    <h2 class="j-order-state-text mb-10">外送員已領取餐點，正在前往您的位置...</h2>
  <% elsif @order.arrived? %>
  <div class="h-10 grid grid-cols-4 gap-2 md:gap-3 j-order-state">
    <div class="h-5 bg-red-400 j-preparing"></div>
    <div class="h-5 bg-red-400 j-delivering"></div>
    <div class="h-5 bg-red-400 j-completed"></div>
    <div class="h-5 bg-red-400 j-arrived"></div>
  </div>
  <h2 class="j-order-state-text mb-10">外送員已送達，用餐愉快!</h2>
  <% end %>


  <h1>訂單編號 <span class="order-num"><%= @order.num %></span></h1>
  <h2>餐點預計送達時間： <span class="time">-</span></h2>
  <p class="driver-name"><%= "外送員：#{@driver.name}" if @driver && !@order.arrived? %></p>
  <p class="order-created-time">下單時間：<%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></p>

  <p>店家：<%= link_to @store.store_name, delicacy_store_path(@store) %></p>
  <div class="item-list">
    <p>品項：</p>
    <% @order.order_items.each do |item| %>
      <%= item.quantity %>
      <%= item.product.name %>
      <%= item.price %>
    <% end %>
  </div>

  <p class="address mt-5 mb-10">餐點送達地址：<span class="address-text"><%= @order.address %></span></p>
  <%= link_to '回到訂單列表', orders_path, class: 'btn' %>
</div>
<% if @room.present? && !@order.arrived? && !@order.canceled? %>
  <div class='chat-icon'>
    <i class="far fa-comments"></i>
    <div class="dot invisible"></div>
  </div>
  <div class="room-wrapper">
    <div class="room-close">X</div>
    <div><%= render 'rooms/room' %></div>
  </div>
<% end %>
<input type="hidden" name="latitude" id='latitude' value="">
<input type="hidden" name="longitude" id='longitude' value="">
