<div class="flex mt-10 mb-5 ">
  <h3 class="font-semibold text-gray-600 text-2xl uppercase w-60 ">商品</h3>
  <h3 class="font-semibold text-center text-gray-600 text-2xl uppercase w-1/5 text-center">數量</h3>
  <h3 class="font-semibold text-center text-gray-600 text-2xl uppercase w-1/5 text-center">價錢</h3> 
  <h3 class="font-semibold text-center text-gray-600 text-2xl uppercase w-1/5 text-center">小計</h3>
</div>
<span class="block mt-4 border-2 border-gray-300"></span>
<% current_cart.items.each do |item| %>
<div class="flex items-center hover:bg-gray-100 -mx-8 pr-20 py-10 " data-cartquantity-id="<%= item.item_id %>"data-controller="cartquantity"data-cartquantity-index-value="<%= item.quantity %>">
  <div class="cart flex w-2/5"> 
    <div class="cartItem flex flex-col justify-between ml-4 flex-grow">
      <span class="font-bold text-xl "><%= item.product.name %></span>    
    </div>
  </div>
  <div class="flex justify-center w-1/5">
     <button class="quantity fill-current text-gray-600 w-3"data-action="click->cartquantity#previous"><i class="fas fa-minus"></i></button>
     <input class="cart-item quantity mx-2 border text-center w-8 text-lg" value="<%=item.quantity%>" data-cartquantity-target="count">
     <button class="cartbtn fill-current text-gray-600 w-3 text-lg"  data-action="click->cartquantity#next"><i class="fas fa-plus"></i></button>
  </div>
    <span class="cart-item price text-center w-1/5 font-semibold text-sm text-lg" data-cartquantity-target="price"><%= item.product.price %></span>
    <span class="subtotal text-center w-1/5 font-semibold text-sm text-lg" data-cartquantity-target="subtotal"><%= item.item_total_price%></span>
    <%# 垃圾桶 %>
    <button class="remove-item-btn btn-success  bg-red-500 hover:bg-red-600 p-3 text-white w-14 rounded-lg justify-center items-center"><i class="fas fa-trash"></i></button>
  </div>   
    <% end %>
    <span class="font-bold text-4xl">總價</span>
    <span class="total text-center w-6/12 font-semibold text-3xl"data-cartquantity-target="totalprice"><%= current_cart.total_price %></span>
</div>