<div class="flex py-2 border-b-2 border-gray-300">
  <h3 class="font-semibold text-center text-gray-600 text-2xl w-1/5">餐點</h3>
  <h3 class="font-semibold text-center text-gray-600 text-2xl w-1/5">數量</h3>
  <h3 class="font-semibold text-center text-gray-600 text-2xl w-1/5">單價</h3> 
  <h3 class="font-semibold text-center text-gray-600 text-2xl w-1/5">小計</h3>
</div>
<div class="item-list border-b-2 border-gray-300 py-5">
  <% current_cart.items.each do |item| %>
  <div class="cart-item flex flex-wrap items-center py-5" data-cartquantity-id="<%= item.item_id %>"data-controller="cartquantity"data-cartquantity-index-value="<%= item.quantity %>">
    <div class="text-center font-bold text-xl w-1/5">
      <span>
        <%= item.product.name %>
      </span>    
    </div>
    <div class="flex justify-center w-1/5">
      <button class="fill-current text-gray-600 w-3" data-action="click->cartquantity#minus">
        <i class="fas fa-minus"></i>
      </button>
      <input class="quantity mx-2 border text-center w-8 text-lg" value="<%=item.quantity%>" data-cartquantity-target="count" data-action="input->cartquantity#change">
      <button class="cartbtn fill-current text-gray-600 w-3 text-lg"  data-action="click->cartquantity#add">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="price text-center w-1/5 font-semibold text-sm text-lg" data-cartquantity-target="price">
      <%= item.product.price %>
    </div>
    <div class="subtotal text-center w-1/5 font-semibold text-sm text-lg" data-cartquantity-target="subtotal">
      <%= item.item_total_price %>
    </div>
    <div class="mx-auto">
      <button class="remove-item-btn btn-success  bg-red-500 hover:bg-red-600 p-3 text-white w-12 rounded-lg justify-center items-center" data-action="click->cartquantity#empty">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
  <% end %>
</div>
<div class="text-right mt-2">
  <span class="font-bold text-4xl">總價</span>
  <span class="total text-center w-6/12 font-semibold text-3xl">
    $<%= current_cart.total_price %>
  </span>
</div>
