<table>
  <thead>
    <tr>
      <th scope="col">商品名稱</th>
      <th scope="col">數量</th>
      <th scope="col">單價</th>
      <th scope="col">外送費</th>
      <th scope="col">總計</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% cart.items.each do |item| %>
    <tr>
      <td><%= item.product.title%></td> 
     <td><%= item.quantity %></td> 
    <td><%= item.product.price %></td> 
      <td><%= item.total_price%></td> 
    </tr>
   <% end %>  
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">總價</td>
     <td><%= cart.total_price %></td> 
    </tr>
  </tfoot>
</table>
