<div class="body bg-yellow-50">
<div class="flex mt-10 mb-5 ">
    <h3 class="font-semibold text-gray-600 text-lg uppercase w-2/5 ">商品</h3>
    <h3 class="font-semibold text-center text-gray-600 text-lg uppercase w-1/5 text-center">數量</h3>
    <h3 class="font-semibold text-center text-gray-600 text-lg uppercase w-1/5 text-center">價錢</h3> 
    <h3 class="font-semibold text-center text-gray-600 text-lg uppercase w-1/5 text-center">小計</h3>
</div>
<table>
 <tbody>
    <% current_cart.items.each do |item| %>
       <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5 " id=<%= item.item_id%>>
          <div class="cart flex w-2/5"> 
          <!-- product -->  
            <div class="cartItem flex flex-col justify-between ml-4 flex-grow">
              <span class="font-bold text-sm "><%= item.product.name %></span>      
              <a href="#" class="font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</a>
              <button class="remove-item-btn btn btn-lg btn-success"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <div class="flex justify-center w-1/5">
           <%# + - 符號 %>
            <svg class=" fill-current text-gray-600 w-3" viewBox="0 0 448 512"><path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
            </svg>
           <%# + - 符號 %>
            <input class="quantity mx-2 border text-center w-8" type="text" value="1">
            <svg class="fill-current text-gray-600 w-3" viewBox="0 0 448 512">
              <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
            </svg>
          </div>
          <span class="price text-center w-1/5 font-semibold text-sm"><%= item.product.price %></span>
          <span class="subtotal text-center w-1/5 font-semibold text-sm"><%= item.item_total_price%></span>
        </div>   
    <% end %>  
  </tbody>
</table>
<span class="font-bold text-4xl border-2 border-blue-900">總價</span>
<span class="total-price text-center w-1/5 font-semibold text-sm"><%= current_cart.total_price %></span>

</div>