<div class="flex-wrap">
   <div class="text-center text-gray-900">
	<i class="fas fa-search-dollar text-4xl my-7">結帳</i>
  <%= render "carts/cart", cart:current_cart %>
  <%= form_for(@order, url: pay_carts_path, method:'post')  do |form| %>
<div class="flex-col m-4 text-2xl font-medium text-gray-500 border-2 border-gray-800">
  <ul class="text-2xl m-6 text-2xl font-medium text-gray-500 ">
     <li> <%= form.label :username, '名稱'%></li>
      <li class="m-6 text-2xl font-medium  border-2 border-gray-800  rounded-full text-center"><%= form.text_field :username %></li>
 
      <li><%= form.label :tel,'電話' %></li>  
      <li class="m-6 text-2xl font-medium  border-2 border-gray-800  rounded-full"><%= form.text_field :tel %></li>
  
    <li><%= form.label :address, '地址' %></li>
    <li class="m-6 text-2xl font-medium  border-2 border-gray-800  rounded-full"><%= form.text_field :address %></li>
   </ul>
</div>
  <div id="dropin-container ">
  <div class="flex justify-center ">
      <div class="self-center flex-1 text-center ">
        <button  class="btn"><input type="hidden" id="nonce" name="payment_method_nonce"/>
  <%= form.submit ''%>確認付款</button>
      </div> 
  	</div> 
  </div>
  <% end %>

   