<div class="container">
  <h2>結帳<i class="fas fa-shopping-cart"></i></h2>

  <%= render "carts/cart" , cart: current_cart %>

  <%= form_for(@order, url: pay_carts_path)  do |form| %>
    <div class="form-item">
      <%= form.label :username, '名稱'%>
      <%= form.text_field :username %>
    </div>

    <div class="form-item">
      <%= form.label :tel,'電話' %>
      <%= form.text_field :tel %>
    </div><br />

    <div class="form-item">
      <%= form.label :address, '地址' %>
      <%= form.text_field :address %>
    </div>

    <div id="dropin-container"></div>
    <input type="hidden" id="nonce" name="payment_method_nonce"/>

  <button class="btn">
  <%= link_to '訂單內容', orderfinish_carts_path, data: { confirm: '要追蹤此訂單？' } %> 
  </button>

  <button class="btn">
    <%= form.submit '確認付款' %>
    </button>
  <% end %>
</div>

