<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<div class="chat-container">
  <% if @room.present? %>
    <p>外送員：<%= User.find(DriverProfile.find(Order.find(@room.order_id).driver_id).user_id).name %></p>
    <div class="chat-room">
      <div id="messages">
        <% @room.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
      <div>
        <div class="chat-box">
          <%= render 'messages/form', message: Message.new, room: @room %>
        </div>
      </div>
    </div>
  <% end %>
</div>