<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<div class="container">
  <% if @room.present? %>
    <p>hello,<%= current_user.name %></p>
    <div class="chat-room">
      <div id="messages">
        <% @room.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
      <div class="chat-box">
        <%= render 'messages/form', message: Message.new, room: @room %>
      </div>
      <% end %>
    </div>
</div>