<div class="store-photo">
  <img src="<%= @store_profile.store_photo %>" alt="店家照片">
</div>

<div class="container">
  <h1><%= @store_profile.store_name %></h1>
    <table class="product-list">
      <tbody>
      <% @products.each do |product| %>
        <tr data-controller="pricing" data-pricing-id=<%= product.id %> >
          <td>
            <span><%= product.name %></span>
          </td>
          <td>
            <span><%= product.description %></span>
          </td>
          <td>
            <span>$<%= product.price %></span>
          </td>
          <td data-pricing-target="icon">
            <button class="cartItemCount btn" data-action='click->pricing#addToCart'>
              <i class="fas fa-cart-plus"></i>
            </button>        
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
   </li>
</div>

