<h1>店家首頁</h1>

<%= link_to '新增產品', new_product_path %>
<br>
<%= link_to '新訂單', recieving_orders_path %>
<br>
<%= link_to '準備中', preparing_orders_path %>
<br>
<%= link_to '可取餐', delivering_orders_path %>
<br>
<%= link_to '訂單記錄', record_orders_path %>
<br>
<%= link_to '？', '#' %>
<br>
<%= link_to '編輯店家', edit_store_profiles_path %>