<h1>編輯餐點</h1>
<%= form_for(@product) do |form| %>

<div class="fields">
  <%= form.label :name, "餐點名稱" %>
  <%= form.text_field :name %>
</div>
<div class="fields">
  <%= form.label :price, "餐點價格" %>
  <%= form.text_field :price %>
</div>
<div class="fields">
  <%= form.label :description, "餐點描述" %>
  <%= form.text_field :description %>
</div>
  
<%= form.submit %>
<% end %>