<div class="flex  justify-center w-screen h-screen text-black bg-gray-100">
  <div class="w-full text-center text-gray-500">
    <i class="fas fa-motorcycle text-4xl my-7">菜單</i>
		<div class="w-full h-screen overflow-auto bg-white shadow-2xl p-6 rounded-2xl">
			<div class="flex items-center">
				<span class="flex items-center justify-center w-6 h-6 rounded-full bg-pink-100">
        <%# icon %>
				<svg class="w-4 h-4 stroke-current text-pink-600"></svg></span>
				<span class="ml-2 text-2xl font-medium text-gray-500">產品名稱</span>
			</div>
        <%# 底線 %>
      <span class="block text-lg font-semibold mt-4 flex-wrap border-2 border-gray-300"></span>
	    <div class="mt-2">
        <span class="ml-2 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= link_to "新增餐點", new_product_path %></span>
        <div class="flex flex-grow-0 overflow-auto">
          <% @products.each do |product| %>
          <div class="w-full">
            <ul class="w-64 mx-2 text-2xl font-medium text-gray-500 border-2 border-gray-300">
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300 overflow-hidden"><%= product.name %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= product.picture %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300 truncate">$<%= product.price %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300 truncate"><%= product.description %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300 truncate"><%= link_to '編輯', edit_product_path(product) %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300 truncate"><%= link_to '刪除', product_path(product), method: 'delete', data: { confirm: '確定要刪除嗎?'} %></li>
              <% if check_product_state?(product) %>
                <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= link_to '上架', toggle_publish_product_path(product), method: 'patch' %></li>
              <% else %>
                <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= link_to '下架', toggle_publish_product_path(product), method: 'patch' %></li>
              <% end %>
            </ul>
            </div>
          <% end %>
        </div>
      </div>

      <h1 class="text-3xl text-red-600">已下架商品</h1>
      <div class="flex flex-grow-0 overflow-auto">
        <% @productsUnavailable.each do |product| %>
          <div class="w-full">
            <ul class="w-64 mx-3 text-2xl font-medium text-gray-500 border-2 border-gray-300">
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300 overflow-hidden"><%= product.name %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= product.picture %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300">$<%= product.price %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300 truncate"><%= product.description %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= link_to '編輯', edit_product_path(product) %></li>
              <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= link_to '刪除', product_path(product), method: 'delete', data: { confirm: '確定要刪除嗎?'} %></li>
              <% if check_product_state?(product) %>
                <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= link_to '上架', toggle_publish_product_path(product), method: 'patch' %></li>
              <% else %>
                <li class="m-6 text-2xl font-medium text-gray-500 border-2 border-gray-300"><%= link_to '下架', toggle_publish_product_path(product), method: 'patch' %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>