<div class="flex  justify-center w-screen h-screen text-black bg-gray-100">
<div class="text-center text-gray-500">

<i class="fas fa-motorcycle text-4xl my-7">菜單</i>

<div>
<%= link_to "新增產品", new_product_path %> 
</div>
<% @products.each do |product| %>
<ul>
  <li><%= product.name %></li>
  <li><%= product.picture %></li>
  <li><%= product.price %></li>
  <li><%= product.description %></li>
  <li><%= link_to '編輯', edit_product_path(product) %></li>
  <li><%= link_to '刪除', product_path(product), method: 'delete', data: { confirm: '確定要刪除嗎?'}  %></li>
  <% if check_product_state?(product) %>
    <li><%= link_to '上架', toggle_publish_product_path(product), method: 'patch' %></li>
  <% else %>
    <li><%= link_to '下架', toggle_publish_product_path(product), method: 'patch'  %></li>
  <% end %>
</ul>
<% end %>

<h1>已下架商品</h1>
<% @productsUnavailable.each do |product| %>
  <ul>
    <li><%= product.name %></li>
    <li><%= product.picture %></li>
    <li><%= product.price %></li>
    <li><%= product.description %></li>
    <li><%= link_to '編輯', edit_product_path(product) %></li>
    <li><%= link_to '刪除', product_path(product), method: 'delete', data: { confirm: '確定要刪除嗎?'}  %></li>
    <% if check_product_state?(product) %>
    <li><%= link_to '上架', toggle_publish_product_path(product), method: 'patch' %></li>
  <% else %>
    <li><%= link_to '下架', toggle_publish_product_path(product), method: 'patch'  %></li>
  <% end %>
  </ul>
<% end %>




