<div class="container">
  <% if @product.errors.any? %>
    <% @product.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <h1>新增餐點</h1>

  <%= form_for(@product) do |form| %>

    <div class="form-item">
      <%= form.label :name, "餐點名稱" %>
      <%= form.text_field :name %>
      <div class="error-message"></div>
      <i class="fas fa-exclamation-circle"></i>
    </div>

    <div class="form-item">
      <%= form.label :price, "餐點價格" %>
      <%= form.text_field :price %>
      <div class="error-message"></div>
      <i class="fas fa-exclamation-circle"></i>
    </div>

    <div class="form-item">
      <%= form.label :description, "餐點描述" %>
      <%= form.text_field :description %>
    </div>

    <div class="actions">
      <%= form.submit '新增餐點', class:"btn btn-primary btn-submit" %>
    </div>

  <% end %>
</div>
