<div class="container">
  <%= if @product.errors.any? %>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <h1>新增產品</h1>

  <%= form_for(@product) do |form| %>

    <div class="form-item">
      <%= form.label :name, "產品名稱" %>
      <%= form.text_field :name %>
      <div class="error-message"></div>
      <i class="fas fa-exclamation-circle"></i>
    </div>

    <div class="form-item">
      <%= form.label :price, "產品價格" %>
      <%= form.text_field :price %>
      <div class="error-message"></div>
      <i class="fas fa-exclamation-circle"></i>
    </div>

    <div class="form-item">
      <%= form.label :description, "產品描述" %>
      <%= form.text_field :description %>
      <div class="error-message"></div>
      <i class="fas fa-exclamation-circle"></i>
    </div>

    <div class="actions">
      <%= form.submit '新增產品', class:"btn btn-primary btn-submit" %>
    </div>

  <% end %>
</div>