<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubayeats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{ENV['google_api_key']}&map_ids=c57b36ae7dbc5a40&callback=initMap&libraries=places&v=beta", async: true, defer: true %>

  </head>

  <body class="<%= controller_name %> <%= action_name%>">
    <%= content_tag :div,
      id: "navbar",
      data: current_user.to_json(only: [ :name, :role ]) do %>
    <% end %>
    <div id="navbar_component" data-id=<%= current_user.id if current_user %>></div>

    <%= render "shared/flash" if notice || alert %>

    <div id="content">
      <%= yield %>
    </div>

    <div class="footer">
      <%= render "shared/footer" %>
    </div>
    
    <%= link_to carts_path do %>
      <div class="cart-icon" data-controller="cart" data-action="addToCart@window->cart#update">
          <span data-cart-target="detail">
            <%= current_cart.items.count %>/$<%= current_cart.total_price %>
          </span>
          <i class="fas fa-shopping-cart"> </i>
      </div>
    <% end %>
  </body>
</html>
