<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubayeats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?key=#{ENV['google_api_key']}&callback=initMap&libraries=&v=weekly" %>
  </head>

  <body class="<%= controller_name %> <%= action_name%>">
    <%= content_tag :div,
      id: "navbar",
      data: current_user.to_json do %>
    <% end %>
    <div id="navbar_component"></div>

    <div id="content">
      <%= render "shared/flash" if notice || alert %>
      <%= yield %>
    </div>
    <%= form_with url: "/", :html => {:id => "position_form"} do |form| %>
      <%= form.hidden_field :latitude, id: "latitude" %>
      <%= form.hidden_field :longitude, id: 'longitude' %>
      <%= form.hidden_field :href, id: 'href' %>
      <%= form.submit %>
    <% end %>
  </body>
</html>
